* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100.01%;
}

body {
    font-size: 16px;
}

a {
    box-shadow: none;
    color: rgb(39, 74, 169);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
