a {
    box-shadow: none;
    color: rgb(39, 74, 169);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

// react headroom custom styling
.headroom {
    background: rgb(207, 203, 177);
}
