/* Colors */

$mainAntiqueWhite: #faebd7;
$mainBackground: #fee9d7;
$mainBlack: black;
$mainWhite: white;
$mainColor: red;
$mainYellow: #ffc600;
$darkOliveGreen1: #caff70;
$darkOliveGreen4: #6e8b3d;
$lightCoral: #f08080;
$lightPink: #ffb6c1;
$deepPink4: #8b0a50;
$royalBlue: #3e4e88;
$dodgerBlue4: #104e8b;
$grey-teal-color: #c1cdcd;
$hotPink2: #ee6aa7;
$hotPink3: #cd6090;
$thistle-color-light: #ffe1ff;
$thistle-color-medium: #cdb5cd;
$thistle-color-dark: #8b7b8b;
$plum4-color: #8b668b;
$redBrick: #e2434b;
$tomato1: #ff6347;
$darkCoral: #ea4961;
$pastelGreen: #9bb899;
$chocolate: #34222e;
$mistyRose: #ffbbbb;
$sand: #f9bf8f;

/* Fonts */

$base-font-family: 'IBM Plex Mono', monospace;
$base-code-font: 'Kotta One', serif;
$base-font-size: 20px;
$small-font-size: $base-font-size * 0.875;

/* Line Heights */

$base-line-height: 1.5;

/* Spacing */

$spacing-unit: 20px;
$atSmall-600: 600px;
$atSmall-621: 621px;
$atMedium-800: 800px;

/* Width of Content Area */

$content-width: 1400px;
$on-palm: 600px;
$on-palm-20: 621px;
$on-laptop: 800px;
$min-480: '(min-width: 480px)';

/* Gradient Bar Variables */

$blue-color: #92b5bd;
$yellow-color: #ede24e;
$red-color: #df6d59;
$purple-color: #6b2339;
$antiqueWhite: #faebd7;
$darkOliveGreen4: #6e8b3d;

/* mqs */

// for media queries
$max-599: '(max-width: 599px)';
$max-653: '(max-width: 653px)';
$max-800: '(max-width: 800px)';
$max-989: '(max-width: 989px)';
$min-480: '(min-width: 480px)';
$min-600: '(min-width: 600px)';
$min-675: '(min-width: 675px)';
$min-740: '(min-width: 740px)';
$min-800: '(min-width: 800px)';
$min-990: '(min-width: 990px)';
$min-1024: '(min-width: 1024px)';
$min-1440: '(min-width: 1440px)';
