.contact-content {
    margin: 60px auto;
    color: #333;
    text-shadow: 1px 2px 2px red;
}

.contact-social {
    li {
        text-align: center;
        margin: 0 auto;
        padding: 6px 12px;
        list-style-type: none;
    }

    a {
        color: rgb(167, 19, 138);
        font-size: 1.5rem;
        box-shadow: none;
    }

    &:hover,
    &:focus {
        color: $pastelGreen;
        transition: 1s ease-out;
    }

    @media #{$min-675} {
        font-size: 1.75rem;
    }
}

.title-social,
.contact-social,
.email,
.follow,
.phone,
.contribute {
    margin: 40px auto 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.contact-social h2,
.email h2,
.follow h2,
.contribute h2 {
    font-size: 24px;

    @media #{$min-675} {
        font-size: 28px;
    }
}

a.twitter:hover,
a.facebook:hover,
a.github:hover,
a.linkedin:hover {
    color: rgb(163, 74, 40);
    transition: 1s ease-out;
}

.twitter {
    width: 33px;
}

.facebook {
    width: 42px;
}

.github:hover {
    border-radius: 50%;
}

.linkedin {
    width: 30px;
    padding-left: 0;
    margin-top: -5px;
}

.linkedin:hover {
    border-radius: 3px;
}

// .follow {
//     li:first-child {
//         display: block;
//     }
// }

// .contribute {
//     li:nth-child(3) {
//         display: block;
//     }
// }
